In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
df=pd.read_csv("bmw.csv")

In [53]:
df.head(3)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0

In [54]:
df.shape

(10781, 9)

In [55]:
df.describe()

,year,price,mileage,tax,mpg,engineSize
count,10781.000000,10781.000000,10781.000000,10781.000000,10781.000000,10781.000000
mean,2017.078935,22733.408867,25496.986550,131.702068,56.399035,2.167767
std,2.349038,11415.528189,25143.192559,61.510755,31.336958,0.552054
min,1996.000000,1200.000000,1.000000,0.000000,5.500000,0.000000
25%,2016.000000,14950.000000,5529.000000,135.000000,45.600000,2.000000
50%,2017.000000,20462.000000,18347.000000,145.000000,53.300000,2.000000
75%,2019.000000,27940.000000,38206.000000,145.000000,62.800000,2.000000
max,2020.000000,123456.000000,214000.000000,580.000000,470.800000,6.600000

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10781 entries, 0 to 10780
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10781 non-null  object
 1   year          10781 non-null  int64
 2   price         10781 non-null  int64
 3   transmission  10781 non-null  object
 4   mileage       10781 non-null  int64
 5   fuelType      10781 non-null  object
 6   tax           10781 non-null  int64
 7   mpg           10781 non-null  float64
 8   engineSize    10781 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 758.2+ KB

In [57]:
df.head(2)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0

In [58]:
df.dtypes

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [59]:
df.groupby('fuelType').price.mean()

fuelType
Diesel      21779.262986
Electric    18466.000000
Hybrid      27169.714765
Other       18193.861111
Petrol      24360.271583
Name: price, dtype: float64

In [60]:
df.groupby('year').price.mean().sort_values(ascending=True)

year
2000     1624.500000
1999     3285.000000
1997     3950.000000
1998     3950.000000
2007     4830.500000
2006     5252.714286
2005     5390.166667
2002     5486.500000
1996     5995.000000
2008     6240.043478
2009     6618.100000
2001     7333.333333
2010     7490.390244
2004     8213.166667
2011     9099.098039
2003     9222.500000
2012     9533.689076
2013    11118.355742
2014    13323.598802
2015    15199.753796
2016    16638.403826
2017    19267.174898
2018    22721.656840
2019    31025.864275
2020    35377.680764
Name: price, dtype: float64

In [61]:
df.groupby('year').price.mean().sort_values(ascending=True).max()

35377.680763983626

In [62]:
df.groupby('mpg').price.mean()

mpg
5.5      50812.666667
8.8      35974.125000
19.1     12495.000000
20.8     10999.000000
21.9     16950.000000
             ...
141.3    34025.000000
148.7    17418.878049
156.9    30252.893617
188.3    68996.000000
470.8    18667.116279
Name: price, Length: 102, dtype: float64

In [63]:
df.transmission.unique()

array(['Automatic', 'Manual', 'Semi-Auto'], dtype=object)

In [64]:
df.transmission.nunique()

3

In [65]:
df.notnull().count()

model           10781
year            10781
price           10781
transmission    10781
mileage         10781
fuelType        10781
tax             10781
mpg             10781
engineSize      10781
dtype: int64

In [66]:
## provides unique col
df.model.value_counts()

 3 Series    2443
 1 Series    1969
 2 Series    1229
 5 Series    1056
 4 Series     995
 X1           804
 X3           551
 X5           468
 X2           288
 X4           179
 M4           125
 Z4           108
 6 Series     108
 7 Series     106
 X6           106
 X7            55
 i3            43
 8 Series      39
 M5            29
 M3            27
 M2            21
 i8            17
 M6             8
 Z3             7
Name: model, dtype: int64

In [67]:
df.iloc[0] ## return first row

model            5 Series
year                 2014
price               11200
transmission    Automatic
mileage             67068
fuelType           Diesel
tax                   125
mpg                  57.6
engineSize              2
Name: 0, dtype: object

In [68]:
df.loc[2]

model            5 Series
year                 2016
price               16000
transmission    Automatic
mileage             62794
fuelType           Diesel
tax                   160
mpg                  51.4
engineSize              3
Name: 2, dtype: object