#### Single line comment
The first line starting with # is a single line comment.
#### Multi line comment
'''
this is 
multi-line string and servers as a comment
'''


#### Python Datatypes
int
float
complex
bytes
string

### Type Casting
* In Python, Type Casting is a process in which we convert a literal of one type to another.
* Inbuilt functions int(), float() and str() shall be used for typecasting.

In [1]:
## int to string to float

a= 123

# Float
f=float(a)
f

123.0

In [2]:
# string
s=str(a)
s

'123'

In [3]:
## Converting string to int and float
b = "123.0"
f = float(b)
f

123.0

In [4]:
b = "1230"
c=int(b)
c

1230

#### Python Conditional Statements
* Python If
* Python If Else
* Python Elif
* Python if and
* Python if or
* Python if not
* Python Ternary Operator

###  Python Ternary operator
* Python Ternary operator is used to select one of the two values based on a condition. 
* It is a miniature of if-else statement that assigns one of the two values to a variable.
* The syntax of Python Ternary Operator is:

[statement_1] if [expression] else [statement_2]

#### Nested Python Ternary Operator
* You can nest a ternary operator in another statement with ternary operator.

In [5]:
a, b, c = 15, 93, 22

#nested ternary operator
max = a if a > b and a>c else c if b>c else b

print(max)

22

### Python For Loop
Python For Loop can be used to iterate a set of statements once for each item of a sequence or collection.

###  Python For Loop with Range

In [6]:
for i in range(25,29):
	print(i)

25
26
27
28

In [7]:
##For Loop with List
mylist = ['python', 'programming', 'examples', 'programs']

for x in mylist:
    print(x)

python
programming
examples
programs

In [8]:
li=list('abcde')
li

['a', 'b', 'c', 'd', 'e']

In [9]:
### For Loop with Dictionary
dict={'name':'jaya','course':'BCA','year':'2021'}
for i in dict:
    print(i,':',dict[i])

name : jaya
course : BCA
year : 2021

Delete item from Dictionary using pop() function

In [10]:
dict={'name':'jaya','course':'BCA','year':'2021'}
x=dict.pop('name')
x
dict

{'course': 'BCA', 'year': '2021'}

Syntax – Key in Dictionary
Following is the syntax to check if key is present in dictionary.

In [11]:
y='course' in dict
print(y)

True

Add value in dictionary

In [12]:
dict['year']=2021
 
dict

{'course': 'BCA', 'year': 2021}

In [13]:
### For Loop with set

data={1,23,4,5,9}
for i in data:
    print(i)

1
4
5
9
23

### set operations

add() – Adds an element (passed as argument) to the set. 
If element is already present, set remains unchanged.

In [40]:
x={12,3,4,5,6,7,7,88,9}
x.add(10)
print(x)

{3, 4, 5, 6, 7, 9, 10, 12, 88}

clear() – Removes all the elements from the set. And the set becomes empty.

copy() – Returns a copy of the set. Helpful when you would like to keep an original copy of the Set.

In [41]:
y=x.copy()
print(y)

{3, 4, 5, 6, 7, 9, 10, 12, 88}

discard() – Remove the specified item.

In [42]:
x.discard(13)
x

{3, 4, 5, 6, 7, 9, 10, 12, 88}

pop() – Removes an element from the set. Which element it pops is uncertain.

In [45]:
x.pop()
x

{6, 7, 9, 10, 12, 88}

In [47]:
x.add(90)
x

{1, 6, 7, 9, 10, 12, 88, 90}

difference() – Returns a set containing the difference between two or more sets.

In [19]:
y={2,8,6,5,90,45,3,7,87,65,67}
res=x.difference(y)
res

{1, 4, 9, 10, 12, 88}

difference_update() – Removes the items in this set that are also included in another, specified set.

In [20]:
x.difference_update(y)

In [21]:
for i in range(1,20):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

### break statement
From the syntax and flow diagram, we know that for loop will be over only after executing statement(s) for all the elements in the iterable. But, we can break the for loop and end it before it has actually run for all the elements in the iterable using break statement.

In [22]:
list=[1,23,47,7,8,90]
for i in list:
    print(i)
    if i==7:
        break

1
23
47
7

### continue
We can skip the execution of further statements in the for loop body, 
during that iteration, using continue statement. When continue statement is executed, the for loop
continues with the execution of next element in the iterable,
rather than completing all the statements in the for loop body.

 * When x is 7, continue statement is executed. The print statement after the continue statement 
 * in the for loop has been skipped and 
 * continued with the next element in the loop, which is 8.

In [23]:
list=[1,23,47,7,8,90]
for i in list:
   
    if i==7:
        continue
    print(i)

1
23
47
8
90

### Python Nested For Loop
* For loop inside another for loop is called Nested For Loop.

Python For Loop is just like another Python command or statement. 
So, can write a for loop inside another for loop and this is called nesting.

In [36]:
for i in range(3):
    for a in range(4):
        print(i,end=' ')
    print()

0 0 0 0
1 1 1 1
2 2 2 2

### Python Type Conversion
To convert integer to float in python, you can use the float() class with the int passed as argument to it.

In [25]:
### Typecast Int to Float
a=5
print(a,'is a type of', type(a) )
f=float(a)
print(f,'is a type of',type(f))

5 is a type of <class 'int'>
5.0 is a type of <class 'float'>

### Python Convert Int to Complex
To convert int to complex in python, you can use complex() class with the int passed as an argument to it 
or add imaginary part to the integer so that the variable would typecast implicitly to complex datatype.

In [28]:
a=2
print("type a",type(a))
com=complex(a)
print(com)

type a <class 'int'>
(2+0j)

## Python Fucntions

### Python *args
* Python *args parameter in a function definition allows the function to accept multiple arguments without knowing how many arguments. 
* Datatype of args is tuple.
* The asterisk symbol is called unpacking operator.

In [27]:
def add(*args):
    res=0
    for i in args:
        res+=i
    print("Result :",res)
add(12,3,4,5,7,5,0)

Result : 36

### Python **kwargs
* Python **kwargs allows function call to pass variable number of keyword (named) arguments to the function.
* The datatype of kwargs is dictionary.
* Double asterisk ** before kwargs is the unpacking operator.
* It unpacks the arguments passed to the function, as dictionary.

In [28]:
def func(**kwargs):
    for i in kwargs:
        print(i ,":" , kwargs[i])
func(a=112,b=34) 
func(c='a',d='b')

a : 112
b : 34
c : a
d : b

**kwargs with Other Parameters
Just a function can have multiple parameters in its definition, we can also have parameters along with **kwargs.
Please remember that **kwargs is just another parameter. 
The only difference of **kwargs from other parameters is that, it can take multiple named arguments.

In [29]:
def myfunc(x,y,**kwargs):
    print(x,y)
    for key,value in kwargs.items():
        print(key,value)
myfunc('jaya','kumari',a= 1,b=-2,c= 3)

jaya kumari
a 1
b -2
c 3

### Python Callback Function
* A callback is a function that is passed as an argument to other function. 
* This other function is expected to call this callback function in its definition.

In [30]:
def add(x,y):
    print(x+y)
def mult(x,y,add):
    print(x*y)
     
mult(3,4,add(3,4))

7
12

### Python Classes and Objects
* Python Class
* Python being an Object Oriented Programming language, everything in Python is considered to be an object. 
* Each object has its properties and methods.
* Class is a blueprint for objects of that class type.

In [31]:
class Developer:
  hoursperday = 8

In [32]:
### Simple Example for Creating a Method in Python Class

class Developer:
  def createProject(self):
    print('The developer created a project.')

In [33]:
### Calling the method
class Developer:
  hoursperday = 8
  
  def createProject(self):
    print('Enhance your data science skills.')
	
#create object
dev1 = Developer()

#call object's method
### Accessing Properties and Methods of Python Class
### We can access the properties and methods using dot operator.
dev1.createProject()

Enhance your data science skills.

### Python init()
* __init__() is a builtin function in Python, that is called whenever an object is created.
* If __init__() function is not defined in a class, there will be an implicit call to the inbuilt __init__() function.
* __init__() function initialized parameters, with the values passed as arguments to it.
* The parameters can be accessed in other methods of the class and also with the object reference.

In [34]:
class intro:
     def __init__(self,name,course):
        self.name=name
        self.course=course
    
     def details(self):
        print("Name :",self.name)
        print("Course :",self.course)
        
obj=intro("Jaya","Data Science")
obj.details()

Name : Jaya
Course : Data Science

## Python Keywords
* Get the list of all keywords programmatically
* To get the list of all keywords of Python programmatically, you can use kwlist of keyword library.

In [35]:
import keyword
keywords=keyword.kwlist
print("keywords:",keywords)

keywords: ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [36]:
## Python – Check if List is Empty
### To check if Python List is empty, you can write a condition if the length of the list is zero or not;
## Following is the syntax to use not operator and the list as a condition to check if the list is empty.

In [37]:
mylist=[]
if not mylist:
    print("empty")

empty

In [38]:
## check if the list is empty
mylist=[]
if len(mylist) == 0:
     print("yes")
else:
        print("not")

yes

In [39]:
mylist = []
if not mylist:
    print('The list is empty.')
else:
    print('The list is not empty.')

The list is empty.

#### Check if String is Python Keyword
* To check if given string is a keyword, pass the string to the function keyword.iskeyword(string) of keyword library.

In [40]:
import keyword
key=input("keyword: ")
result=keyword.iskeyword(key)
print(result)

keyword: if
True

### Python Lambda Function
* Python Lambda function is a single line function whose body is just an expression and can accept multiple arguments.
#### syntax
* x = lambda arguments : expression

In [41]:
#lambda function Example
square = lambda a: a*a
#call lambda function
result = square(6)
print(result)

36

In [42]:
### Factorial of a given number
#recursive lambda function
factorial = lambda a: a*factorial(a-1) if (a>1) else 1
#call lambda function
result = factorial(5)
print(result)

120

In [43]:
import math
#function returning lambda function
def myfunc(n):
     return lambda a : math.pow(a, n)

#lambda functions
square = myfunc(2) #square = lambda a : math.pow(a, 2)
cube = myfunc(3) #cube =  = lambda a : math.pow(a, 3)
squareroot = myfunc(4) #squareroot = lambda a : math.pow(a, 4) 

print(square(3))
print(cube(3))
print(squareroot(3))

9.0
27.0
81.0

In [44]:
x=lambda n:n**2 if n%2 == 0 else (n**3)
print(x(2))
print(x(5))

4
125

Lambda Function with Nested If Else Condition

In [45]:
x= lambda n: n**2 if n%10==0 else (n if n%2==0 else n**3)
print(x(2))
print(x(10))

2
100

### Python Recursion
* Python Recursion is a technique in which a function calls itself.

In [46]:
def func(n):
#     x=input("number :")
    return (lambda n:1 if n<=1 else n*factorial(n-1))
print(func(5))

<function func.<locals>.<lambda> at 0x000002BB8E782AF0>

In [47]:
def factorial(x):
    if (x < 1):
        return 1
    else:
        return x*factorial(x-1)
    
print(factorial(0))
print(factorial(4))
print(factorial(5))

1
24
120

### Fibonacci Series
* The Fibonacci numbers are the numbers in the following integer sequence.
* 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..
*  the sequence Fn of Fibonacci numbers is defined by the recurrence relation 

* Fn = Fn-1 + Fn-2
* For example, if n = 0, then fib() should return 0. If n = 1, then it should return 1.
* For n > 1, it should return Fn-1 + Fn-2

In [48]:
def fibonacci(n):
 
    if n<=1:
        return n
    else:
        return (fibonacci(n-1)+fibonacci(n-2))
size=int(input("range:"))
for i in range(size):
    
     print(fibonacci(i),end=" ")

range:5
0 1 1 2 3

In [49]:
def fibo(n):
      if n<=1:
            return 1
      else:
        return (fibo(n-1)+fibo(n-2))
for i in range(10):
    print(fibo(i),end=" ")

1 1 2 3 5 8 13 21 34 55

In [1]:
#fact
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)
fact(4)

24

### Python Global Variable
* Python Global Variable is a variable that has the scope of whole program.
* The variable can be accessed anywhere in the program, be it inside or outside of the functions defined in the program.

In [51]:
x='hello - global'
def func():
    global x ## refeering to the abv x and thus chnges the value of x
    x="hello world 1"
    print(x)
func()
print(x)

hello world 1
hello world 1

### Python Regex
Python Regular Expressions or shortly RegEx are used to create search patterns. 
These search patterns are used to search a specified pattern in a string.

### Python Builtin Functions
* abs()
* filter()
* len()
* map()
* max()
* min()
* pow()
* range()
* sorted()
* str()
* type()

### Python abs() Function – Find Absolute Value
* Python abs() function can be used to calculate the absolute value of a number.

In [52]:
### find the absolute value of a negative number.
x=-1
absval=abs(x)
print(f'Absolute value of {x} is {absval}.')

Absolute value of -1 is 1.

### String as argument to abs() – TypeError
* If we provide any other argument of type other than number, we will get TypeError.

In [53]:
val="DS"
val1=abs(val)
print(val1)

TypeError: bad operand type for abs(): 'str'

## Python Filter Function
Python filter() function is used to filter the elements of an iterable based on a function.

## syntax : filter(function, iterable)
where in for the first argument, you can pass a regular Python function or Python
lambda function. For the second argument you can pass any collection that is iterable,
for example, tuple, list, etc.

In [ ]:
list=[12,43,4,5,6,3,8,9,80]
output=filter(lambda n:True if n%2 ==0 else False,list)
for i in output:
    print(i)

### Python map() Function
* Python map() function applies given function to each element of the iterable and returns a map object.
* The map object itself is an iterable.
* syntax --map(function, iterables)

In [ ]:
def mul(n):
    return n*2
x=map(mul,[1,23,4,9,0,7])
print(tuple(x))

In [ ]:
x=map(lambda n:n**2 ,[1,2,34,0,8])
print(list(x))

Python DateTime now() Function
* datetime.datetime.now() function returns datetime object containing current date and time of the 
* system during the execution of now() statement.

In [ ]:
from datetime import datetime
datetime_1=datetime.now()
print(str(datetime_1))

### Python General Examples

In [ ]:
def sum(a,b):
    res=a+b
    res
sum(2,3)

In [ ]:
import random
x=10
res=random.randint(1,x)
res

In [ ]:
import random
import string
x=10
value=string.ascii_letters
val1=string.digits
val2=string.punctuation
final_value=value+val1+val2
 
res=[]
for i in range(x):
    res.append(random.choice(final_value))
print('Password:',"".join(res))

*  Random Floting Point Number in the Range (min, max)
* min+ ensures that the generated random value has atleast a value of min. 
* (max-min)*random.random() ensures that the value does not exceed the maximum limit.

f = min + (max-min)*random.random()

#random.random generates a value in the range (0, 1)

f = min + (max-min)*(0, 1)

Resulting_Range = (min + (max-min)*0, min + (max-min)*1)
= (min + 0, min + max - min)
= (min, max)

In [ ]:
x=[1,2,8,5,0,9]
x.sort()
x
print("second smallest number :",x[1])

### Get Number of Elements in DataFrame

In [ ]:
import pandas as pd
x=pd.DataFrame([[1,2,3,4],[2,34,5,6],[3,4,6,7]])
x

Python – Swap Two Numbers

In [ ]:
a=7
b=10
a,b=b,a
print(a,b)

Find the sum of first N natural numbers with Python Program

In [ ]:
sum=0
for i in range(1,6):
     sum+=i 
print(sum)

Python – Star Pattern Programs

In [2]:
def rectangle(a,b):
    for i in range(0,a):
        for j in range(0,b):
            print(" * ",end=" ")
        print('')
rectangle(3,6)

 *   *   *   *   *   *
 *   *   *   *   *   *
 *   *   *   *   *   *

Right angle triagle

In [3]:
def triangle(n):
    for i in range(0,n):
        for j in range(0,n):
            if i>=j:
                print(" * ",end=" ")
        print(' ')       
triangle(6)

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *
 *   *   *   *   *   *

In [26]:
def triangle(n):
    for i in range(0,n):
        for j in range(0,i+1):
            
            print(" * ",end=" ")
        print(' ')   
triangle(6)

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *
 *   *   *   *   *   *

In [11]:
def pattern(a):
    for i in range(0,a):
        for j in range(0,(a-i)):
            print('  ',end=" ")
        for j in range(0,2*i+1) :
            print(' * ',end='')
        print('')
pattern(5)

                *
             *  *  *
          *  *  *  *  *
       *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *  *

In [12]:
def drawPattern(a):
	for x in range(0, a):
		for y in range(0,(a-x)):
			print('   ', end='')
		for y in range(0, 2*x+1):
			print(' * ', end='')
		print('')
		
drawPattern(4)

             *
          *  *  *
       *  *  *  *  *
    *  *  *  *  *  *  *

In [25]:
def py(n):
    for i in range(0,n):
        for j in range(0,n-i):
            print("   " ,end=" ")
        for j in range(0,2*i+1):
            print(" * ",end=" ")
        print('')    
py(5)

                     *
                 *   *   *
             *   *   *   *   *
         *   *   *   *   *   *   *
     *   *   *   *   *   *   *   *   *

Python Program to Check Armstrong Number
* abcd... = pow(a,n) +  pow(b,n) + pow(c,n) + ...
*Algorithm:
1. The number of digits in num is found out
2. The individual digits are obtained by performing num mod 10, where mod is the remainder operation.
3. The digit is raised to the power of the number of digits and stored
4. Then the number is divided by 10 to obtain the second digit.
5. Steps 2,3 and 4 are repeated until the value of num is greater than 0
6. Once num is less than 0, end the while loop
7. Check if the sum obtained is same as the original number
8. If yes, then the number is an armstrong number

In [5]:
num=int(input("Enter a number:"))
x=str(num)
n=len(x)
sum=0
temp=num
while temp>0:   
    a=temp%10
    sum+=a**n
    temp//=10
    
if num==sum:
    print("yes")
else:
    print("No")

Enter a number:153
yes

In [7]:
## frequent occuring value in string'
a=["jayakumari","deepak","jayakumari"]
x={}
for i in a:
    if i in x:
        x[i]+=1
    else:
        x[i]=1
print(x) 
len(a)

{'jayakumari': 2, 'deepak': 1}

3

In [ ]:
names=['Deepak','Reema','John','Deepak','Munna','Reema','Deepak','Amit','John','Reema']
di={}
for i in names:
    if i in di:
        di[i]+=1
    else:
        di[i]=1
print(di)

In [ ]:
def fact(n):
    return (1 if(n==1 or n==0) else n* fact(n-1))
print(fact(5))

### pascal

In [56]:
### So C(line, i) can be calculated from C(line, i-1) in O(1) time
def pascal(n):
    for i in range(1,n+1):
        c=1 # used to represent c(line,i)
        for j in range(1,i+1):
            print(c, end=" ")
            c=int(c*(i-j)/j)
        print("")  
pascal(5)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [63]:
### Prime Numbers
num=int(input("number"))
if num>1:
    for i in range(2,num):
        if (num%i)==0:
            print("not a prime number")
            break
    else:
            print("prime number")

number13
prime number

In [75]:
### prime numbers b/w a given range
for num in range(1,100):
    if num>1:
        for i in range(2,num):
            if (num%i==0):
                break
        else:
            print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### ASCII code

In [77]:
## char to int
ch='a'
print(ord(ch))
print(ord('A'))

97
65

In [79]:
### int to char

num=87
print(chr(num))
chr(97)

W

'a'

In [14]:
### palindrome
a='malayalam'
b=a[::-1]
if a==b:
    print("It's a palindrome")
else:
    print("Not a palindrome")

It's a palindrome

In [6]:
### LCM of 2 numbers
a=12
b=8
res=max(a,b)
res
while True:
    if ((res%a==0) and (res%b==0)):
        break
    res+=1
print(res)

24

In [ ]:
n=(12,8)
res=max(n)
res

In [13]:
### HCF OF TWO NUMBERS
a=150
b=500
# mn=min(a,b)
if a>b:
    mn=b
else :
    mn=a
for i in range(1,mn+1): 
    if ((a%i==0) and (b%i==0)):
        hcf=i
print(hcf)

50

In [11]:
### HCF using euclidean algorithm
def hcf(x,y):
    while y:
        x,y=y,x%y
    return x
hcf1=hcf(150,500)
print(hcf1)

50