#### Single line comment
The first line starting with # is a single line comment.
#### Multi line comment
'''
this is 
multi-line string and servers as a comment
'''


#### Python Datatypes
int
float
complex
bytes
string

### Type Casting
* In Python, Type Casting is a process in which we convert a literal of one type to another.
* Inbuilt functions int(), float() and str() shall be used for typecasting.

In [2]:
## int to string to float

a= 123

# Float
f=float(a)
f

123.0

In [4]:
# string
s=str(a)
s

'123'

In [10]:
## Converting string to int and float
b = "123.0"
f = float(b)
f

123.0

In [16]:
b = "1230"
c=int(b)
c

1230

#### Python Conditional Statements
* Python If
* Python If Else
* Python Elif
* Python if and
* Python if or
* Python if not
* Python Ternary Operator

###  Python Ternary operator
* Python Ternary operator is used to select one of the two values based on a condition. 
* It is a miniature of if-else statement that assigns one of the two values to a variable.
* The syntax of Python Ternary Operator is:

[statement_1] if [expression] else [statement_2]

#### Nested Python Ternary Operator
* You can nest a ternary operator in another statement with ternary operator.

In [18]:
a, b, c = 15, 93, 22

#nested ternary operator
max = a if a > b and a>c else c if b>c else b

print(max)

22

### Python For Loop
Python For Loop can be used to iterate a set of statements once for each item of a sequence or collection.

###  Python For Loop with Range

In [1]:
for i in range(25,29):
	print(i)

25
26
27
28

In [2]:
##For Loop with List
mylist = ['python', 'programming', 'examples', 'programs']

for x in mylist:
	print(x)

python
programming
examples
programs

In [3]:
li=list('abcde')
li

['a', 'b', 'c', 'd', 'e']

In [8]:
### For Loop with Dictionary
dict={'name':'jaya','course':'BCA','year':'2021'}
for i in dict:
    print(i,':',dict[i])

name : jaya
course : BCA
year : 2021

In [12]:
### For Loop with set
data={1,23,4,5,9}
for i in data:
    print(i)

1
4
5
9
23

### break statement
From the syntax and flow diagram, we know that for loop will be over only after executing statement(s) for all the elements in the iterable. But, we can break the for loop and end it before it has actually run for all the elements in the iterable using break statement.

In [17]:
list=[1,23,47,7,8,90]
for i in list:
    print(i)
    if i==7:
        break

1
23
47
7

### continue
We can skip the execution of further statements in the for loop body, 
during that iteration, using continue statement. When continue statement is executed, the for loop
continues with the execution of next element in the iterable,
rather than completing all the statements in the for loop body.

 * When x is 7, continue statement is executed. The print statement after the continue statement 
 * in the for loop has been skipped and 
 * continued with the next element in the loop, which is 8.

In [23]:
list=[1,23,47,7,8,90]
for i in list:
   
    if i==7:
        continue
    print(i)

1
23
47
8
90

### Python Nested For Loop
* For loop inside another for loop is called Nested For Loop.

Python For Loop is just like another Python command or statement. 
So, can write a for loop inside another for loop and this is called nesting.

In [33]:
for i in range(3):
    for a in range(4):
        print(i,end=' ')
    print()

0 0 0 0
1 1 1 1
2 2 2 2

### Python Type Conversion
To convert integer to float in python, you can use the float() class with the int passed as argument to it.

In [35]:
### Typecast Int to Float
a=5
print(a,'is a type of', type(a) )
f=float(a)
print(f,'is a type of',type(f))

5 is a type of <class 'int'>
5.0 is a type of <class 'float'>

### Python Convert Int to Complex
To convert int to complex in python, you can use complex() class with the int passed as an argument to it 
or add imaginary part to the integer so that the variable would typecast implicitly to complex datatype.

In [38]:
a=2
print("type a",type(a))
com=complex(a)
print(com)

type a <class 'int'>
(2+0j)

In [39]:
st='1234'
a=int(st)

#### Python Identity Operators

In [48]:
## Is operator in python
###Python is keyword is used to check if the memory reference of two Python objects are same or not.
##Python is operator takes two operands and returns True if both the objects have same memory reference and False if not.

In [49]:
a = [2,3]
b = [2,3]
c=a
a

[2, 3]

In [50]:
c

[2, 3]

In [51]:
b

[2, 3]

In [52]:
### the contents of a and b are same, but a and b are different objects having a different memory allocation.
if a is b:
	print('a is b')
else:
	print('a is not b')

if a is c:
	print('a is c')
else:
	print('a is not c')

a is not b
a is c

### Python IS NOT
Python is not operation is simply the opposite of Python is.

Python is not checks if the two operands refer to the same memory reference.
If they do not have the same memory reference, python is not returns True, else it returns False.

In [55]:
if a is not b:
	print('a is b')
else:
	print('a is not b')

if a is not c:
	print('a is c')
else:
	print('a is not c')

a is b
a is not c

### Python Comparison Operators /  Python Relational Operators

Python Comparison Operators compare two operands and return a boolean value based on the comparison made.

There are six comparison operators in Python. They are

* Equal
* Not equal
* Greater than
* Less than
* Greater than or equal to
* Less than or equal to

### Bitwise
bitwise operators are used to performing bitwise calculations on integers. The integers are first converted into binary and then operations are performed on bit by bit,
hence the name bitwise operators. Then the result is returned in decimal format.

* Bitwise AND operator: Returns 1 if both the bits are 1 else 0.
* Bitwise or operator: Returns 1 if either of the bit is 1 else 0.
* Bitwise not operator: Returns one’s complement of the number.

In [ ]:
## Example
a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary)

a & b = 1010
         &
        0100
      = 0000
      = 0 (Decimal)

### Python Functions

###  *args (Non Keyword Arguments)

Python *args parameter in a function definition allows the function to accept multiple arguments.
It can take n number of inputs.
The asterisk symbol is called unpacking operator.

In [75]:

def add(*args):
    res=0
    for i in args:
        res+=i
    print(res)
 
add(4,9,8)

21

### **kwargs (Keyword Arguments)
Python **kwargs allows function call to pass variable number of keyword (named) arguments to the function.
The datatype of kwargs is dictionary.
So, keywords and respective argument values come as key:value pairs. The number of key:value pairs in kwargs is determined only by the function call at the runtime.

In [2]:
def sub(**kwargs):
    
    for x,y in kwargs.items():
        print("{} is {}".format(x,y))
        
sub()

In [3]:
def fibo(n):
    if n>1:
        return fibo(n-1)+fibo(n-2)
    else:
        return n
for i in range(10):
    
    print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34

In [10]:
def fact(n):
    if n>1:
        return n*fact(n-1)
    else:
        return 1
fact(5)

120

In [16]:

num=int(input("number"))
s=str(num)
l=len(s)
sum=0
temp=num
while temp>0:
    a=temp%10
    sum+=a**l 
    temp//=10
if num==sum:
    print('yes')
else:
    print("no")

number26
no

In [18]:
def angle(n):
    for i in range(0,n):
        for j in range(i+1):
             print (" * ",end=" ")
        print(' ')
angle(5)

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [3]:
def py(n):
    for i in range(0,n):
        for j in range(0,(n-i)):
            print('   ',end="")
        for j in range(0,2*i+1):   
            print(" * ",end='')
        print(' ')
py(4)

             *
          *  *  *
       *  *  *  *  *
    *  *  *  *  *  *  *

In [27]:
def pascal(n):
    for i in range(1,n+1):
        c=1
        for j in range(1,i+1):
            print(c,end=" ")
            c=int(c*(i-j)/j)
        print("")
pascal(5)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [1]:

## LCM
a=12
b=5
res=max(a,b)
while True:
    if ((res%a==0) and (res%b==0) ):  
        break
    res+=1
print(res)

60

In [2]:
def hcf(x,y):
    while y:
        x,y=y,x%y
    return x
hcf1=hcf(200,400)
print(hcf1)

200